.body{
  margin: 0;
  padding: 0;
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.App .header {
  height: 30vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: lightcyan;
  justify-content: center;
  align-items: center;

}

input {
  font-size: 20px;
  margin: 10px;
}

button {
  color: lightcyan;
  background-color: darkslateblue;
  font-size: 25px;
  border-radius: 15px;
  box-shadow: none;
  margin: 10px;
}

.todoList{
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 70vh;
}

.task{
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
  background-color: lightcyan;

}

.content span{
  font-size: 20px;
  margin-right: 50px;
  margin-left: 50px;
}